.table-bottom-border {
  border-bottom-width: 1px;
}
.table-border {
  border-bottom-width: 0px;
  border-top-width: 0px;
}
.btnDarkBlue{
  background-color: #164c60;
  border-color: #164c60;
  color: white;
}
