.btnDelete{
  background-color: darkred;
  border-color: darkred;
  color: white;
}

.btnDarkBlue{
  background-color: #164c60;
  border-color: #164c60;
  color: white;
  margin-right: 15px;
}

.modal-dialog {
  width:342px
;
}
